body{
    margin: 0;
    padding: 0;
}

nav{
    width: 100%;
    background-color: blueviolet;
}
ul{
    list-style: none;
    display: flex;
}

nav{
    height: 40px;
}

nav ul{
    height: 100%;
    padding: 0;
    margin: 0;
}

nav ul li{
    width: 16vw;
    text-align: center;
    padding-top: 10px;
    border: 1px blueviolet solid;
}

nav ul li a{
    color: white;
}

.opc1{
    transition:
        background-color 2s
        ;
}

.opc1:hover{
    background-color: gold;
    font-weight: bolder;
}

.opc2{
    transition:
        background-color 0.5s
        ;
}

.opc2:hover{
    background-color: magenta;
    border: 1px white solid;
}

.opc3{
    transition:
        background-color 0.5s
        ;
}

.opc3:hover{
    background-color: mediumvioletred;
    border: 1px white solid;
    transform: scale(1.5);
}

@keyframes miAnimacion {
    0%, 50%, 100% {
      transform: translateY(0);
      background-color: blueviolet;
    }
    25% {
      transform: translateY(-30px);
      background-color: blueviolet;
    }
    75% {
      transform: translateY(30px);
      background-color: blueviolet;
    }
  }

.opc4{
  color: white;
  border: 1px blueviolet solid;
}

.opc4:hover{
    color: black;
    border: 1px black solid;
    animation: miAnimacion 4s infinite;
}

.opc5{
    font-size: 16px;
    transition-property: font-size;
    transition-duration: 2s;
    transition-delay: 1s;
}

.opc5:hover{
    font-size: 24px;
}

.opc6{
    transition: rotate 2s;
}

.opc6:hover{
    rotate: 360deg;
}