body{
    margin: 0;
    padding: 0;
}

.fila{
    width: 100%;
    height: 6vh;
}

input{
    width: 50%;
    display: inline-block;
}

label{
    width: 50%;
    display: inline-block;
    text-align: right;
}