*{
    margin: 0;
    padding: 0;
}

.capa1{
    width: 50vw;
    background-color: aqua;
}

.capa2{
    width: 20vw;
    background-color: blue;
}

.capa3{
    width: 25vw;
    background-color: brown;
}