*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(32,113,85,1) 0%, rgba(0,0,0,1) 100%, rgba(0,212,255,1) 100%);
    /* background-color: rgb(5, 58, 40); */
}

.contenedor{
    margin: auto;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    /* max-width: 600px; */
}


/* -------  Marco Inicio ------- */
.msi{
    position: absolute;
    top: 0px;
    left: 0px;
}

.msd{
    position: absolute;
    top: 0px;
    right: 0px;
}

.miz{
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.mid{
    position: absolute;
    bottom: 0px;
    right: 0px;
}
/* ------- Marco Fin ------- */


.contenedor_arbol{
    text-align: center;
    width: 100%;
    height: 100vh;
    position: relative;
}


/* ------- Filas Estilos Inicio ------- */
.filas{
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

.fila3{
    margin: auto;
    background-color: rgb(64, 88, 24);
    width: 10px;
    height: 15px;
    border-radius: 5px 5px 0px 0px;
    animation: anim1 1s infinite;
}

.fila4{
    margin: auto;
    background-color: rgb(64, 88, 24);
    width: 25px;
    height: 15px;
    border-radius: 5px 5px 0px 0px;
    animation: anim2 1s infinite;
}

.fila5{
    margin: auto;
    background-color: rgb(64, 88, 24);
    width: 50px;
    height: 15px;
    border-radius: 5px 5px 0px 0px;
    animation: anim3 1s infinite;
}

.fila6{
    margin: auto;
    background-color: rgb(64, 88, 24);
    width: 75px;
    height: 15px;
    border-radius: 5px 5px 0px 0px;
    animation: anim4 1s infinite;
}

.fila7{
    margin: auto;
    background-color: rgb(64, 88, 24);
    width: 90px;
    height: 15px;
    border-radius: 5px 5px 0px 0px;
    animation: anim1 1s infinite;
}

.fila8{
    margin: auto;
    background-color: rgb(64, 88, 24);
    width: 115px;
    height: 15px;
    border-radius: 5px 5px 0px 0px;
    animation: anim2 1s infinite;
}

.fila9{
    margin: auto;
    background-color: rgb(64, 88, 24);
    width: 140px;
    height: 15px;
    border-radius: 5px 5px 0px 0px;
    animation: anim3 1s infinite;
}

.fila10{
    margin: auto;
    background-color: rgb(64, 88, 24);
    width: 160px;
    height: 15px;
    border-radius: 5px 5px 0px 0px;
    animation: anim4 1s infinite;
}

.fila11{
    margin: auto;
    background-color: rgb(64, 88, 24);
    width: 180px;
    height: 15px;
    border-radius: 5px 5px 0px 0px;
    animation: anim1 1s infinite;
}

.fila12{
    margin: auto;
    background-color: rgb(64, 88, 24);
    width: 200px;
    height: 20px;
    border-radius: 5px 5px 0px 0px;
    animation: anim2 1s infinite;
}

.tronco{
    margin: auto;
    background-color: brown;
    width: 20px;
    height: 20px;
}

.base{
    /* color: green; */
    margin: auto;
    width: 90px;
    height: 20px;
    background-color:  green;
    border-radius: 50px 50px 0px 0px ;
}
/* ------ Filas Estilos Fin -------*/




/* ------ Keyframes destellos luces Inicio -------*/
@keyframes anim1{
    0% {color: red} 
    25% {color: blue} 
    50% {color: green} 
    75% {color: yellow} 
    100% {color: brown} 
}

@keyframes anim2{
    0% {color: yellow} 
    25% {color: brown} 
    50% {color: blue} 
    75% {color: red} 
    100% {color: green} 
}

@keyframes anim3{
    0% {color: rgb(0, 3, 156)} 
    25% {color: rgb(47, 73, 13)} 
    50% {color: rebeccapurple} 
    75% {color: yellowgreen} 
    100% {color: goldenrod} 
}

@keyframes anim4{
    0% {color: green} 
    25% {color: blue} 
    50% {color: yellow} 
    75% {color: brown} 
    100% {color: red} 
}

/* ------ Keyframes destellos luces Fin -------*/


/* ------ Nieve Inicio -------*/
.nieve{
    position: relative;
    display: flex;
}

.nieve span{
    position: relative;
    min-width: 5px;
    height: 5px;
    background-color: ·#fff;
    border-radius: 50%;
    margin: 0 1vw;
    box-shadow: -100px 20px 5px #fff, 100px 20px 10px #fff;
    animation: animarNieve 15s linear infinite;
    animation-duration: calc(75s / var(--i));
}

.nieve span:nth-child(even){
    min-width: 10px;
    height: 10px;
}

@keyframes animarNieve 
{
    0%{transform: translateY(-10vh);}
    100%{transform: translateY(100vh);}
    
}

/* ------ Nieve Fin -------*/
