body{
    margin: 0;
    padding: 0;
}
.arbol{
    position: fixed;
    bottom: 0;
    left: 500px;
    z-index: 3;
}
.verde{
    position: fixed;
    bottom: 0;
    left: 550px;
    z-index: 1;
}
.rosa{
    position: fixed;
    bottom: 0;
    right: 500px;
    z-index: 2;
}
.arbol img{
    height: 600px;
}
.rosa img{
    width: 200px;
}
.verde img{
    width: 200px;
}