*{
    margin: 0;
    padding: 0;

}
h1{
    text-align: center;
    font-size: 3em;
}
h2{
    margin-left: 20px;
    font-size: 2em;
}
h3{
    margin-left: 30px;
    font-size: 1.5em;
}
h4{
    margin-left: 40px;
    font-size: 1.25em;
}
body{
    margin: 0;
    background-color: orange;
    font-size: 16px;
}
header{
    background-color: aqua;
}
footer{
    background-color: aqua;
}
nav{
    background-color: magenta
}
section{
    background-color: brown;
}
article{
    background-color: red;
    width: 50%;
    float: left;
}
aside{
    background-color: yellowgreen;
    display: inline-block;
}

a{
    color: white;
}
a:hover{
    color: black;
}

li{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: none;
}
p{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
}
img.imgDeArticulo{
    margin-left: 20px;
}