/* Estilo de color de fondo 1 */
.elemento1 {
    background-color: red;
}

/* Estilo de color de fondo 2 */
.elemento2 {
    background-color: blue;
}

/* Estilo de color de fondo 3 */
.elemento3 {
    background-color: green;
}

/* Estilo de color de fondo 4 */
.elemento4 {
    background-color: yellow;
}

/* Estilo de color de fondo 5 */
.elemento5 {
    background-color: purple;
}
