@media only screen and (max-width: 768px) and (min-width: 600px) {
    p{
        color:green;
    }
  }

  @media only screen and (max-width: 600px) {
    p{
        color:blue;
    }
  }

  @media only screen and (min-width: 768px) {
    p{
        color:red;
    }
  }